.box {
    background-color: green;
    padding: 10px;
  }
  #outer-box{
    border:10px solid palegreen
  
  }
    
  
  
  p {
    color: yellow;
    margin: 0;
    padding: 0;
  }
  .inner-box{
    background-color:peru;
  
  }
  
  .white-text{
    color:white;
  }